/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1#main-title {
    margin: 0;
}

/* Work Experience Styles */
#work-experience {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.job-item {
    margin-bottom: 20px;
    list-style-type: none;
}

.job-content {
    display: flex;
    align-items: flex-start;
}

.work-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.job-link {
    color: #0066cc;
    text-decoration: none;
}

.job-link:hover {
    color: white;
    background-color:#0066cc;
}

/* Hobbies Styles */
#hobbies {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hobby-item {
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hobby-image {
    width: 170px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
    padding: 10px;
}
